<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hdfs</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/local.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/echarts.min.js" type="application/javascript"></script>
</head>
<html>
<body>
<div class="row">
    <!--导航栏-->
    <div class="col-md-2 col-lg-2  col-sm-12 col-xs-12 navigation">
        <div class="avatar">
            <a href="#">
                <img class="img-circle" src="/img/default.jpg">
            </a>
            <h3 style="color: white">demo</h3>
        </div>
        <ul class="nav nav-pills nav-stacked text-center">
            <li role="presentation" class="active">
                <a href="/cloudStatus" class="nav_text"><span class="glyphicon glyphicon-cloud"
                                                              aria-hidden="true"></span>&nbsp;云盘情况</a>
            </li>
            <li role="presentation">
                <a href="/local" class="nav_text"><span class="glyphicon glyphicon-th"
                                                        aria-hidden="true"></span>&nbsp;所有文件</a>
            </li>
            <li role="presentation">
                <a href="/logout" class="nav_text"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;退出登录</a>
            </li>
        </ul>
    </div>
    <!--主页面-->
    <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 main">
        <!--顶部栏-->
        <nav class="navbar navbar-default navbar-fixed-top ">
            <a class="navbar-brand" href="#">Private Cloud</a>
        </nav>
        <div style="height: 9%"></div>
        <!--个人信息-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">您的信息</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/img/default.jpg">
                        </a>
                    </div>
                    <div class="media-body" style="margin-left: 20px">
                        <h2 class="media-heading">demo</h2>
                        <div class="form-info">
                            <span>角色:</span>
                            <span>注册用户</span>
                        </div>
                        <div class="form-info">
                            <span>状态:</span>
                            <span>正常</span>
                        </div>
                        <div class="form-info">
                            <span>创建时间:</span>
                            <span th:text="${#dates.format(user.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </div>
                        <div class="form-info">
                            <span>上次登录时间:</span>
                            <span th:text="${#dates.format(user.lastLoginTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--云盘情况-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">云盘状况</h3>
            </div>
            <div class="panel-body">
                <div class="well">
                    <h4>云盘配置</h4>
                    <div class="form-info">
                        <span>单个文件限制:</span>
                        <span th:text="${user.maxFileSize}"></span>MB
                    </div>
                    <div class="form-info">
                        <span>总空间限制:</span>
                        <span th:text="${user.maxSize}"></span>MB
                    </div>
                    <div class="form-info">
                        <span>已使用空间:</span>
                        <span th:text="${size[0]}"></span>
                    </div>
                    <div style="height: 1px;background-color: #987cb9;margin: 10px 0px"></div>
                    <h4>使用情况</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                            <span th:text="${size[1]}"></span>%
                            <span class="sr-only">80% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="well">
                    <div id="pie" style="width: 450px;height:300px;"></div>
                    <script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        $.ajax({
                            type: "POST",
                            url: "/cloudStatus/pie",
                            dataType: "json",
                            contentType: "application/json;charset=utf-8",
                            success: function (response) {
                                var myChart = echarts.init(document.getElementById('pie'));
                                var datas=[]
                                datas=response
                                var option = {
                                    title: {
                                        text: '各文件类型空间占比'
                                    },
                                    series: [
                                        {
                                            type: 'pie',
                                            radius: '55%',
                                            data: datas
                                        }
                                    ]
                                };
                                myChart.setOption(option);
                            }
                        });

                    </script>
                    <!--分割线-->
                    <div style="height: 1px;background-color: #987cb9;margin: 10px 0px"></div>
                    <div id="bar" style="width: 450px;height:300px;"></div>
                    <script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        $.ajax({
                            type: "POST",
                            url: "/cloudStatus/bar",
                            dataType: "json",
                            contentType: "application/json;charset=utf-8",
                            success: function (response) {
                                var datas = response
                                console.log(response)
                                var myChart = echarts.init(document.getElementById('bar'));

                                // 指定图表的配置项和数据
                                var option = {
                                    title: {
                                        text: '各文件类型数量'
                                    },
                                    tooltip: {},
                                    legend: {
                                        data: ['数量']
                                    },
                                    xAxis: {
                                        type: 'category',
                                        data: datas.xdata
                                    },
                                    yAxis: {},
                                    series: [{
                                        name: '数量',
                                        type: 'bar',
                                        data: datas.ydata
                                    }]
                                };
                                // 使用刚指定的配置项和数据显示图表。
                                myChart.setOption(option);
                            }
                        });

                    </script>
                </div>
                <div class="well">
                    <div id="line" style="width: 450px;height:600px;"></div>
                    <script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('line'));
                        var option = {
                            title: {
                                text: ''
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'cross',
                                    label: {
                                        backgroundColor: '#6a7985'
                                    }
                                }
                            },
                            legend: {
                                data: ['office', 'zip', 'jpg', 'other', 'video']
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {}
                                }
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            yAxis: [
                                {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: ['1', '2', '3', '3', '4', '6', '7']
                                }
                            ],
                            xAxis: [
                                {
                                    type: 'value'
                                }
                            ],
                            series: [
                                {
                                    name: '邮件营销',
                                    type: 'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data: [120, 132, 101, 134, 90, 230, 210]
                                },
                                {
                                    name: '联盟广告',
                                    type: 'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data: [220, 182, 191, 234, 290, 330, 310]
                                },
                                {
                                    name: '视频广告',
                                    type: 'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data: [150, 232, 201, 154, 190, 330, 410]
                                },
                                {
                                    name: '直接访问',
                                    type: 'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data: [320, 332, 301, 334, 390, 330, 320]
                                },
                                {
                                    name: '搜索引擎',
                                    type: 'line',
                                    stack: '总量',
                                    label: {
                                        normal: {
                                            show: true,
                                            position: 'top'
                                        }
                                    },
                                    areaStyle: {},
                                    data: [820, 932, 901, 934, 1290, 1330, 1320]
                                }
                            ]
                        };
                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                    </script>
                </div>
            </div>
        </div>


    </div>
</div>

</body>

</html>